[Unit]
Description=Daemon to control keyboard backlight and screen brightness
After=systemd-modules-load.service

[Service]
ExecStart=/usr/bin/mbplightd
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target
